<div style="display: flex; height: 100%;">
    <div style="width: 200px; padding: 10px; background-color: #f4f4f4;">
      <h3>Planeten</h3>
      <ul>
        <li *ngFor="let planet of planets" (click)="showPlanetInfo(planet)" style="cursor: pointer; margin-bottom: 10px;">
          {{ planet.name }}
        </li>
      </ul>
      <!-- Reset View Button -->
    <button (click)="resetView()" style="margin-top: 20px; padding: 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
      Reset View
    </button>
    </div>
    

  
    <div style="flex: 1; position: relative;">
      <canvas #threejs></canvas>
      <div style="position: absolute; top: 10px; left: 10px; background: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px;" *ngIf="selectedPlanet">
        <h4>{{ selectedPlanet.name }}</h4>
        <p>{{ selectedPlanet.info }}</p>
      </div>
    </div>
  </div>
  